@charset "utf-8";

html{
    font-size: 10px;
    color: #2b2b2b;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #2b2b2b;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 32px;
}

.section-subtext {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 32px;
}

.feature_wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* ヘッダー */
header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 30;
    background-color: transparent;
}

.header-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    z-index: 30;
}
.header-section img {
    width: 170px;
    height: 80px;
    object-fit: cover;
}

.nav-list a {
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
}
nav ul {
    display: flex;
    gap: 60px;
    align-items: center;
}
.btn {
    background-color: #00B7CE;
    padding: 20px;
    border-radius: 10px;
}
.btn a {
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
}

/* hamburger */

.hamburger {
    display: none;
    width: 40px;
    height: 28px;
    position: absolute;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 40;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
}

.hamburger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #00B7CE;
    transition: 0.3s;
}

.hamburger span:nth-child(1) {top:0;}
.hamburger span:nth-child(2) {top:13px;}
.hamburger span:nth-child(3) {top:26px;}

.open .hamburger span:nth-child(1) {top:13px; transform: rotate(45deg);}
.open .hamburger span:nth-child(2) {opacity: 0;}
.open .hamburger span:nth-child(3) {top:13px; transform: rotate(-45deg);}


.hamburger-nav {
    position: fixed;
    inset: 0;
    background-color: #FFFFFF;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;    opacity: 0;
    transition: 0.5s ease;
    transform: scale(0.98);
}

.open .hamburger-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;    
    transform: scale(1);
}

.hamburger-nav-list {
    padding: 150px;
    display: flex;
    flex-direction: column;
    gap:64px;    
}

.hamburger-nav-list a {
    color: #2b2b2b;
    font-size: 1.8rem;
    font-weight: 600;
}

.hamburger-nav-list .btn a {
    color: #FFFFFF;
}




/* FV */
.fv {
    position: relative;
    height: 100vh;
    background-image: url("../img/moment FV(1).jpg");
    background-size: cover;
    background-position: center;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
    }
}

.fv-text {
    position: absolute;
    top: 30%;
    left: 110px;
    color: white;
    font-weight: 700;
    font-size: 5.8rem;
    letter-spacing: 7.2px;
    line-height: 140%;
    width: calc(100%-220px);
}

.fv-subtext {
    position: absolute;
    top: 65%;
    left: 110px;
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 2.3px;
    line-height: 36px;
    color: white;
}

.access-btn {
    position: absolute;
    top: 80%;
    left: 110px;
    background-color: #00B7CE;
    padding: 20px 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    /* From Uiverse.io by alexmaracinaru */ 

  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

button > svg {
  width: 34px;
  margin-left: 10px;
  transform: translateY(3px);
  transition: transform 0.3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
  transform: translateY(3px) translateX(5px);
}

button:active {
  transform: scale(0.95);
}



.access-btn a {
    color: white;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 2.5px;
}
button {
    color: white;
}

/* 悩み */
.problem {
    padding-block: 80px;
    background-color: #F6F6F6;
}

.problem-item {
    background-color: #F6F6F6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.cause {
    width: 30%;
    text-align: center;
}
.cause img {
    width: 80%;
    height: 230px;
    object-fit: cover;
}

.cause-content {
    font-size: 18px;
    font-weight: bold;
    padding: 24px 0;
}

.cause-content {
    background-color: #8C9EB0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding: 24px 0;
    border-radius: 10px;
    margin: 30px 32px;
}
.cause-detail {
    background-color: #DFE4EE;
    font-size: 16px;
    letter-spacing: 0.3%;
    line-height: 36px;
    padding: 16px 8px;
    border-radius: 10px;
    margin: 30px 32px;
    text-align: left;
}
.cause-arrow {
    display: block;
    margin: 0 auto;
    padding-top: 32px;
}


/* 営業支援 */
.feature {
    background-color: #F6F6F6;
}

.step1 {
    background-color: #F6F6F6;
    display: flex;
    gap: 80px;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 40px 60px;
    position: relative;
}
.step1::before {
  content: "01";
  position: absolute;
  top: 20px;
  left: 60px;

  font-size: 200px;
  font-weight: bold;
  color: #000;
  opacity: 0.05;

  z-index: 0;
}
.step1 img {
    width: 15%;
    height: 10%;
}
.support-content1 {
    font-weight: 600;
    line-height: 36px;
}
.tagline-point {
    background-color: #00B7CE;
    padding: 8px 16px;
    border-radius: 10px;
}
.tagline1 {
    margin-bottom: 10px;
    font-size: 1.4rem;
    line-height: 140%;
    letter-spacing: 2px;
}
.tagline-point1 {
    font-size: 3.2rem;
    line-height: 140%;
    letter-spacing: 5.8px;
    margin:0;
}

.tagline-content1{
    font-size: 1.6rem;
}

.tagline-content{
    font-size: 1.6rem;
}

.step1 ul li, .step2 ul li {
    font-size: 1.6rem;
}

.support-content1 ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
.support-content li {
    text-align: left;
}

.step2 {
    background-color: #B7C4D6;
    display: flex;
    gap: 80px;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 40px 60px;
    position: relative;
}

.step2::before {
  content: "02";
  position: absolute;
  top: 20px;
  right: 60px;

  font-size: 200px;
  font-weight: bold;
  color: #000;
  opacity: 0.05;
  z-index: 0;
}
.step2 img {
    width: 15%;
    height: 10%;
}
.support-content {
    font-weight: bold;
    line-height: 36px;
    color: white;
}
.tagline-point {
    font-size: 32px;
    margin-bottom: 32px;
    color: white;
}

.support-content ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
.support-content li {
    text-align: left;
}

.step3 {
    background-color: #8C9EB0;
    display: flex;
    gap: 80px;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 40px 60px;
    position: relative;
}

.step3::before {
  content: "03";
  position: absolute;
  top: 20px;
  left: 60px;

  font-size: 200px;
  font-weight: bold;
  color: #000;
  opacity: 0.05;
  z-index: 0;
}
.step3 img {
    width: 15%;
    height: 10%;
}
.support-content {
    font-weight: bold;
    line-height: 36px;
    color: white;
}

.support-content ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
.support-content li {
    text-align: left;
}

.step3 .tagline-content {
    margin-bottom: 36px;
}



/* 検証 */

.verification-section {
    background-color: #DFE4EE;
    padding-block: 80px;
}
.verification {
    display: flex;
    gap: 32px;
}
.verification-content {
    display: flex;
    align-items: flex-end;
}
.verification-content1 {
    padding: 0 32px;
    width: 100%;
}
.verification img {
    width: 100%;
    height: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    object-fit: cover;
}
.verification-step1 {
    background-color: #F6F6F6;
    padding: 20px 60px;
    margin-top: 32px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 2px;
    line-height: 140%;
}
.verification-step1 span {
    font-weight: bold;
    font-size: 3.6rem;
}
.verification-detail1 {
    background-color: #F6F6F6;
    margin-top: 32px;
}
.verification-detail1 h3 {
    font-weight: 700;
    font-size: 1.8rem;
}

.verification-content1 ul {
    background-color: #F6F6F6;
    display: block;
    padding-left: 20px;
    margin: 0 auto;
    line-height: 30px;
}
.verification-content1 li {
    list-style: disc;
    font-size: 1.6rem;    
}
.verification-detail1,.verification-content1 ul {
    padding: 16px;
    border-radius: 10px;
}


/* step2 */
.verification-content2 {
    padding: 0 32px;
    width: 100%;
}
.verification-step2 {
    background-color: #B7C4D6;
    margin-top: 32px;
    padding: 40px 20px 30px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: white;
    font-size: 1.8rem;
    letter-spacing: 2px;
    line-height: 140%;    
}

.verification-step2 span {
    font-weight: bold;
    font-size: 3.6rem;
    color: white;
}
.verification-detail2 {
    background-color: #B7C4D6;
    margin-top: 32px;
    color: white;
    font-size: 1.6rem;
}
.verification-detail2 h3 {
    font-size: 1.8rem;
    font-weight: 700;
}


.verification-content2 ul {
    background-color: #B7C4D6;
    display: block;
    padding-left: 20px;
    margin: 0 auto;
    line-height: 30px;
}
.verification-content2 li {
    list-style: disc;
    color: white;
}
.verification-detail2,.verification-content2 ul {
    padding: 16px;
    border-radius: 10px;
}


/* step3 */
.verification-content3 {
    margin-top: -90px;
    padding: 0 32px;
    width: 100%;
}
.verification-step3 {
    background-color: #F6F6F6;
    padding: 40px 20px 60px;
    margin-top: 32px;
    border-radius: 10px;
}
.verification-step3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: white;
    background-color: #8C9EB0;
    font-size: 1.8rem;
    letter-spacing: 2px;
    line-height: 140%;
}
.verification-step3 span {
    font-weight: bold;
    font-size: 36px;
    color: white;
}
.verification-detail3 {
    background-color: #8C9EB0;
    margin-top: 32px;
    color: white;
    font-size: 1.6rem;
}
.verification-detail3 h3 {
    font-size: 1.8rem;
    font-weight: 700;
}

.verification-content3 ul {
    display: block;
    padding-left: 20px;
    margin: 0 auto;
    line-height: 30px;
}
.verification-content3 li {
    list-style: disc;
    color: white;
}
.verification-detail3,.verification-content3 ul {
    padding: 16px;
    border-radius: 10px;
}
.inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.verification-method {
    display: inline-block;
    background-color: #00B7CE;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    margin: 32px 80px;
    font-weight: bold;
    line-height: 35px;
    padding: 16px 24px;
    font-size: 2.4rem;
}




/* プラン例 */

.plan {
    margin-top: 80px;
    padding-inline: 4%;
}

/* .plan .container {
    position: relative;
} */

.plan-table-frame {
    position: relative;
}

.plan-table-frame::before {
  position: absolute;
  content: "最も人気のプラン";
  top: -60px;
  left:62.5%;
  transform: translateX(-50%);
  background-color: #00B7CE;
  color: #fff;
  padding: 12px 32px;
  border-radius: 12px;
  font-weight: 700;
  /* width: 220px; */
  height: 45px;
  font-size: 1.6rem;
  line-height: 140%;
  letter-spacing: 2px;
  text-align: center;
}

.plan-list {
    text-align: center;
    margin-top: 80px;
    position: relative;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}



th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
table {
  border-collapse: collapse;
}

th, td {
  border: 3px solid #DFE4EE;
  padding: 20px;
}
.plan-item {
    width: 300px;
    font-size: 1.8rem;
}
.light {
    width: 300px;
    background-color: #F6F6F6;
    font-size: 1.8rem;
}
.standard {
    width: 300px;
    background-color: #B7C4D6;
    color: #FFFFFF;
    font-size: 1.8rem;
}


.professional {
    width: 300px;
    background-color: #8C9EB0;
    color: #FFFFFF;
    font-size: 1.8rem;
}
.plan-contents {
    margin-top: 16px;
    letter-spacing: 0.1rem;
    line-height: 36px;
    font-weight: 400;
}

.plan-cost th {
    font-size: 1.8rem;
    font-weight: 600;
}

.plan-cost td {
    font-size: 2.4rem;
    font-weight: 700;
}

.plan-cost td span {
    font-size: 1.4rem;
}

td img {
    width: 30px;
}

tr th {
    font-size: 1.8rem;
}

tr td {
    font-size: 1.8rem;
}

/* CTA */

.cta{
    background-color: #404f5E;
    padding-block: 80px;
}

.cta-wrapper {
    display: flex;
    gap: 5%;
    padding-inline: 4%;
}

.cta-left {
    width: 30%;
}

.cta-left img {
    width: 100%;
    border-radius: 10px;
}

.cta-right {
    width: 65%;
}

.cta-right h2 {
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.cta-right p {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.cta-access-btn {
    justify-content: center;
    align-items: center;
    background-color: #00B7CE;
    padding: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    /* From Uiverse.io by alexmaracinaru */ 

  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.cta-access-btn a {
    color: #FFFFFF;
    font-size: 3.2rem;
}

.cta-access-btn svg {
    transform: translateY(5px);
}

.cta-access-btn button:hover svg {
  transform: translateX(5px);
  transform: translateY(5px) translateX(5px);
}


/* 導入から運用までの流れ */

.flow{
    padding-block: 80px;
}

.flow-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #F9F9F9;
    padding-block: 64px;
    padding-inline: 6%;
}

.flow-grid-upper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 60px;
    position: relative;
}

.flow-grid-upper::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #00B7CE;
    border-radius: 10px;
}

.flow-grid-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    position: relative;
}

.flow-grid-bottom::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #00B7CE;
    border-radius: 10px;
}

.flow-item-upper {
    width: 89.8%;
    text-align: center;
}

.flow-item-bottom {
    width: 60%;
    text-align: center;
}

.flow-item-upper img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    margin-bottom: 32px;
}

.flow-item-bottom img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center -6px;
    margin-bottom: 32px;
}

.flow-timeline {
    font-size: 1.6rem;
    color: #00B7CE;
    font-weight: 700;
    margin-bottom: 32px;
    padding-inline: 16px;
    text-align: center;
    z-index: 1;
    background-color: #F6F6F6;
    position: relative;
    display: inline-block;
}

.flow-item-title {
    font-size: 1.8rem;
    color: #00B7CE;
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
    position: relative;
    padding: 0 16px; 
}

.flow-item-upper .flow-item-title::after {
    content: ">>";
    top: 50%;
    left: 102%;
    transform: translateY(-50%);
    color: #00B7CE;
    position: absolute;
}

.flow-item-bottom .flow-item-title::after {
    content: ">>";
    top: 50%;
    left: 130%;
    transform: translateY(-50%);
    color: #00B7CE;
    position: absolute;
}

.flow-item-upper:last-child .flow-item-title::after {
    display: none;
}

.flow-item-bottom:last-child .flow-item-title::after {
    display: none;
}


.flow-item-detail li {
    font-size: 1.6rem;
    margin-bottom: 16px;
    text-align: left;
}




















/* お客様の声 */
.voice {
    padding-block: 80px;
    padding-inline: 4%;
    background-color: #F9F9F9;
}

.voice-wrapper {
    display: flex;
    gap: 32px;
}

.voice-card-left {
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 48px 24px;
}

.voice-card-right {
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 48px 24px;
}

.voice-card-title {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 64px;
}

.voice-card-title-left img {
    width: 70px;
}

.voice-card-title-left {
    text-align: center;
}

.voice-card-title-right {
    display: flex;
    align-items: center;
}

.voice-card-title-right h3 {
    font-weight: 600;
    font-size: 1.8rem;
    position: relative;
}

.voice-card-title-right h3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #00B7CE;
    bottom:-5px;
    left: 0;
    border-radius: 10px;
}


.voice-card-body-title {
    margin-bottom: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 10px;
    background-color: #8C9EB0;
    display: inline-block;
    color: #ffffff;
}

.voice-card-body p {
    font-size: 1.3rem;
    margin-bottom: 16px;
}







/* お問い合わせ */

.contact {
    padding-block: 80px;
    padding-inline: 4%;
}

.contact-content {
    max-width: 800px;
    margin: 0 auto;
    padding-block: 48px;
}

dl {
  display: grid;
  grid-template-columns: 50% 1fr;
}

dt {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    position: relative;
}

dt::before {
    position: absolute;
    content: "";
    width: 200%;
    height: 1px;
    top: -24px;
    left:0;
    background-color: #d9d9d9;
    border-radius: 10px;
}

dt label {
    font-size: 1.6rem;
}

dd {
    margin-bottom: 48px;
}

.input-wrapper {
    background-color: #d9d9d9;
    width:100%;
    height: 48px;
    border-radius: 10px;
    position: relative;
}

input {
    width: 100%;
    height: 100%;
    padding-inline: 10px;
    box-sizing: border-box;
    font-size: 1.6rem;
    color: #2b2b2b;
    outline: none;
}

.input-wrapper::before {
    position: absolute;
    content: "必須";
    top: 50%;
    left: -58px;
    transform: translateY(-50%);
    width: 48px;
    height: 32px;
    border-radius: 10px;
    background-color: #E53935;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.input-wrapper.optional::before {
  content: none;
}

input::placeholder {
  color: #2b2b2b;
  opacity: 28%;
  font-size: 1.6rem;
}

.input-wrapper:focus-within {
    background-color: #F5FAFC;
}

.input-wrapper:focus-within {
    outline: none;
    outline: 2px solid #d9d9d9;
}

.radio-wrapper {
    display: flex;
    flex-direction: column;
}

.radio {
    display: flex;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.radio input {
    width: 10%;
}

.textarea-wrapper {
    width: 100%;
    height: 250px;
    position: relative;
    background-color: #d9d9d9;
    border-radius: 10px;
}

.textarea-wrapper:focus-within {
    background-color: #F5FAFC;
    outline: none;
    outline: 2px solid #d9d9d9;
}

textarea {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.6rem;
    color: #2b2b2b;
    outline: none;
}

.textarea-wrapper::before {
    position: absolute;
    content: "必須";
    top: 50%;
    left: -58px;
    transform: translateY(-50%);
    width: 48px;
    height: 32px;
    border-radius: 10px;
    background-color: #E53935;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}



.button-wrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.button-wrapper input[type="submit"] {
  display: inline-block;
  width: 250px;
  padding: 20px 80px;
  border: none;
  border-radius: 10px;
  background-color: #00B7CE;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}


/* フッター */

footer {
    background-color: #404F5E;
    padding-block: 50px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4%;
}
.footer-section img {
    width: 180px;
    height: 30px;
    object-fit: cover;
}



/* レスポンシブ */



/* タブレット1 */
@media (max-width:1024px) {

/* お悩み */
.cause-content {
    font-size: 1.6rem;
}

.cause-detail {
    font-size: 1.4rem;
}


/* 検証 */
.verification-detail1 h3, .verification-detail2 h3, .verification-detail3 h3 {
    font-size: 1.6rem;
}

.verification-content1 li, .verification-detail2, .verification-detail3 {
    font-size: 1.4rem;
}

.verification {
    margin-top: 80px;
}

/* CTA */
.cta-right h2 {
    font-size: 2.4rem;
}

.cta-right p {
    font-size: 1.8rem;
}

.cta-access-btn a {
    font-size: 1.8rem;
}

/* プラン例 */
.plan-table-frame::before {
    left:61%;
    padding: 12px 12px;
}

}


/* タブレット2 */
@media (max-width:900px) {

/* hamburger */
.hamburger {
    display: block;
}

.hamburger span {
    display: block;
}


/* ヘッダー */

.header-section {
    padding: 30px 100px 30px 30px;
}

.btn {
    padding: 10px;
}



/* FV */
.fv-text {
    font-size: 4.8rem;
}

.fv-subtext {
    font-size: 1.4rem;
}

.access-btn a {
    font-size: 2.4rem;
}


/* プラン例 */
.light,.standard,.professional {
    font-size: 1.6rem;
}

.plan-contents {
    line-height: 24px;
}


/* お客様の声 */

.voice-wrapper {
    flex-direction: column;
}

.voice-card-left {
    width: 100%;
}

.voice-card-right {
    width: 100%;
}


/* フッター */
.nav-list li:not(.btn) {
    display: none;
  }


}



/* スマホ */

@media (max-width: 760px){

/* 共通 */
    .section-title {
    font-size: 2.4rem;
}

.section-subtext {
    width: 90%;
    margin-inline: auto;
}


/* ヘッダー */

.header-section {
    padding: 30px 100px 30px 10px;
}

    .header-section .nav-list .btn {
    display: none;
}

/* FV */

.fv-text {
    font-size: 2.4rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 85%;
}

.fv-subtext {
    font-size: 1.4rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 85%;
}

.access-btn {
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    width: 85%;
    justify-content: center;
}

.access-btn a {
    font-size: 1.4rem;
}

/* お悩み */

.problem-item {
    flex-direction: column;
}

.cause {
    width: 100%;
}











/* 検証 */

.verification-content {
    flex-direction: column;
}

.verification {
    margin-top: 0;
    justify-content: center;
}

.verification-step1, .verification-step2, .verification-step3 {
    margin-top: 16px;
    padding: 16px 60px;
}

.verification-detail1, .verification-detail2,.verification-detail3 {
    margin-top: 16px;
}

.verification-content2,.verification-content3 {
    padding-top: 32px;
    margin: 0;
}

.verification-method {
    font-size: 1.6rem;
    margin: 16px 16px;
}


/* CTA */

.cta-wrapper {
    flex-direction: column;
    align-items: center;
}

.cta-right {
    width: 90%;
}

.cta-right h2 {
    font-size: 1.8rem;
}

.cta-right p {
    font-size: 1.4rem;
}

/* Voice */

.voice-card-title {
    margin-bottom: 32px;
}

.voice-card-left, .voice-card-right {
    padding: 32px 16px;
}

.voice-card-title-left h3, .voice-card-title-right h3 {
    font-size: 1.6rem;
}

/* Flow */

.flow-wrapper {
    background-color: #8C9EB0;
}

.flow-grid-upper {
    grid-template-columns: 1fr;
    gap: 48px;
}

.flow-grid-bottom {
    grid-template-columns: 1fr;
    gap: 48px;
}


.flow-grid-upper::before, .flow-grid-bottom::before {
    display: none;
}

.flow-item-upper, .flow-item-bottom {
    position: relative;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.flow-item-upper, .flow-item-bottom {
    width: 100%;
    padding-top: 20px;
}

.flow-item-upper::before, .flow-item-bottom::before {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #00B7CE;
    border-radius: 10px;
}

.flow-item-title::after {
    display: none;
}

.flow-item-title {
    margin-bottom: 24px;
}

.flow-item-upper::after {
    content: ">>";
    bottom: -10%;
    left: 50%;
    transform: translateY(50%);
    color: #FFFFFF;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 700;
    rotate: calc(90deg);
}

.flow-item-bottom::after {
    content: ">>";
    bottom: -10%;
    left: 50%;
    transform: translateY(50%);
    color: #FFFFFF;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 700;
    rotate: calc(90deg);
}

.flow-item-bottom:last-child::after {
    display: none;
}


.flow-item-detail {
    padding-inline: 16px;
}

.flow-item-detail li {
    font-size: 1.4rem;
}


}